/* Estilos para a sessão de histórico acadêmico */
.experience {
    min-height: 80vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    gap: 4rem;
}
.experience__section__title {
    font-size: 2.5rem;
     color: var(--cor-de-letras);
     text-align: center;
}
    
.experiencie__box {
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--cor-de-menu);
}
.experience__img{
    max-width: calc(75% - 30px);
}
.experience__info{
    max-width: calc(35%);
}
