.footer{
    color: var(--cor-de-letras);
    background-color: var(--cor-de-menu);
    padding: 2rem;
}
.footer__rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}
.footer__rodape p{
    font-size: 1.5rem;

}
.footer__rodape span{
    width: 50vw;
   padding: 0.01rem;
    background-color: var(--cor-de-linha);
}