.skills{
    width: 100%;
    min-height: calc(100vh - 20px);
    padding: 08rem 8% 0 8%;
    background-color: var( --cor-de-fundo);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    justify-content: center;
    }
    .skills__title{
        font-size: 5rem;
        letter-spacing: 1.2rem;
        margin-bottom: 1rem;
        color: var(--cor-de-letras);
    }
    .skills__line{
        display: flex;
        gap: 1rem;
        padding: 2%;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;

    }
    .skills__box{
        display: flex;
        justify-content: center;

    }
    .skills__box ul{
        width: 180px;
        height: 180px;
        background-color: var(--cor-de-menu);
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }
    .skills__box ul:hover{
        color: var(--cor-de-linha);
        transform: scale(1.1) translateY(-5px);
        box-shadow: 0 0 25px var(--cor-de-linha);
        border: 2px solid var(--cor-de-linha);
    }
    ul .skills__icon i{
        font-size: 5rem;
        letter-spacing: 0.2rem;
        color: var(--cor-de-linha);
    }
    ul .skills__name{
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
        color: var(--cor-de-letras);

    }
    