.sobre{
    width: 100%;
    padding: 12rem 8% 0 8%;
    min-height: calc(100vh - 20px);
    background-color: var( --cor-de-menu);
}   
.sobre__text{
   display: flex;
   flex-direction: column;
   color: var(--cor-de-letras);
}
.sobre__text h3{
    padding-bottom: 2rem;
    font-weight: 700;
    font-size: 3rem;
}
.sobre__text p{
    padding-bottom: 2rem;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.6rem;
}
 
     