.title {
min-height: calc(100vh - 90px);
}
.title__div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.title__profile {
  width: 5vw;
  height: 60vh;
  border-radius: 100%;
}

.title__profile {
  width: 35%;
}
.title__container {
  width: 65%;

}
.title__container h3 {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  color: var(--cor-de-letras);
  margin-bottom: 1rem;
}
.title__container h2 {
  font-size: 1.3rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
  color: var(--cor-de-letras);
  margin-bottom: 1rem;
}
.title__network {
  display: inline-flex;
  gap: 2rem;
}
.title__network__item a{
  font-size: 1.5rem;
  color: var(--cor-de-backHover);
}
.title__network__item i{
  border: 2px solid var(--cor-de-backHover);
  border-radius: 50%;
  padding: 0.3rem;
  text-align: center;
  
}